* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(70, 19, 158);
    background-color: rgb(255,255,255);
}

.gamesLayout{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.jeu{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;;
    background-image: url("../../assets/img/game.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Police1;
    position: relative;
    margin: 30px;
    height: 300px;
    width: 300px;
    background-size: 80%;
    transition: background-size 0.1s ease;
}

.jeu:hover
{
  background-size: 100%;
  cursor:pointer;
}