/* Mise en place de l'image */

.center {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	font-family: Police1;
}

.titre {
	font-family: "Police1";
	text-align: center;
	font-size: xx-large;
}

audio{
	margin: auto;
	padding: 50px;
}

h1{
	text-align: center;
}

.hide{
	display: none;
}